.chat__top{
  width: 80%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10vh auto;
  border-radius: 10px;
}
.chat__main {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 10px 10px 0 0;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  scroll-behavior: smooth;
  background: rgba(181, 181, 181, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.chat__main::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 600px){
    .chat__top{
        width: 90%;
        height: 90vh;
        margin: 5vh auto;
    }
}